* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: U-bold;
    src: url('../src/assets/fonts/U8/U8-Bold.ttf');
  }
  @font-face {
    font-family: U-medium;
    src: url('../src/assets/fonts/U8/U8-Medium.ttf');
  }
  @font-face {
    font-family: U-regular;
    src: url('../src/assets/fonts/U8/U8-Regular.ttf');
  }
  
  
  h1, h2 {
    font-family: U-bold !important;
  }
  h3, h4, h5 {
    font-family: U-medium !important;
  }
  h6, p, a, small {
    font-family: U-regular !important;
  }
  
  .orange-gradient-bg{
    background: linear-gradient(#863c00, #512400);
  }