@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --root-bg: #fff;
    --highlight: #8d4000;
    --light-highlight: #fff1e5;
    --light-highlight2: #fffcfa;
    --highlight2: #ff9100;
    --primary: #161616;
    --secondary: #1E0700;
    --text: #1e1e1e;

    --light-bg: #fafafa;
    --card-bg: #f8f8f8;
    --appstore-bg: #efefef;
    --header: #162F43;
    --placeholder: #9F9F9F;

}

body{
    background: var(--root-bg);
    color: var(--text)
}

*{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 2s;
}

.container{
    @apply max-w-[1440px] px-[1.3rem] md:px-[4rem] lg:px-[6rem] xl:px-[10rem] mx-auto
}

h1{
    @apply text-[32px] leading-[42.4px] sm:text-[40px] sm:leading-[52.4px] md:text-[45.5px] md:leading-[60.4px] lg:text-[53.5px] lg:leading-[69.4px] xl:text-[64px] xl:leading-[86.4px] font-bold
}

h2{
    @apply text-[28px] leading-[38.6px] md:text-[40px] md:leading-[50.6px] lg:text-[50px] lg:leading-[68.6px] xl:text-[56px] xl:leading-[75.6px] font-semibold
}

h3{
    @apply text-[20px] leading-[30.2px] md:text-[22px] md:leading-[35.2px] 
}

p, button, a{
    @apply text-[15px] leading-[26.6px] md:text-[16px] md:leading-[25.6px]
}

.button{
    @apply rounded-3xl py-3 px-5 shadow hover:scale-105
}

.footer-link{
    @apply text-white text-[14px] leading-[29px] mb-3 block font-[400]
}

.footer-header{
    @apply text-white font-semibold mb-5
}

.icon-link{
    @apply w-[30px] h-[30px]
}


.multi-color-text span{
    @apply text-gray-400
}

button:hover{
    @apply scale-105
}

.signin-form label{
    @apply block text-left pb-2
}

.signin-form input{
    @apply block p-3 bg-[var(--card-bg)] w-full shadow outline-none
}

.signin-form button{
    @apply bg-[var(--highlight)] w-full p-3 text-white rounded-md shadow-lg
}